body {
    background: #000000;
    font-family: 'DM Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

/* ======= common-classes ======= */
.text-red {
    color: #BD0000;
}

.text-gray {
    color: #C7C1C1;
}

.bg-red {
    background: #BD0000;
}
.font-large{
    font-size: 54px;
}
.bg-gray {
    background: #141414;
}

.section-space{
    margin: 50px 0px;
}
.outline-none {
    outline: none;
}
.height-lg{
    height: 470px;
}
.font-large {
    font-size: 52px;
}
.bg-lg-blur {
    background: #141414;
    border-radius: 20px;
}
.bg-iphoneFrame{
    background-image: url('../images/frame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ================== bred-carousel =============== */
.slider-main {
    overflow: hidden;

    .slider {
        animation: slidein 30s linear infinite;
        white-space: nowrap;

        .logos {
            width: 100%;
            display: inline-block;
            margin: 0px 0;

            .fab {
                width: calc(100% / 5);
                animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            }
        }
    }
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ================= from-section ============= */

.bg-form {
    background-image: url('../images/layer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background: transparent !important;
}

/* ================== media-quries =============== */

@media (min-width: 320px) and (max-width: 480px) {
    .bg-blur {
        background: #141414;
        border-radius: 20px;
    }

    .font-large {
        font-size: 26px;
    }

    .blur-iphone {
        position: relative;
        bottom: 60px;
    }
    .section-break{
        margin-top: 100px !important;
    }

    .slider .slide-track {
        animation: scroll 15s linear infinite;
        display: flex;
        width: calc(100% * 1);
    
    }
    
    
    .slider .slide {
        width: 390px;
    }
    
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-390% * 1));
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .bg-blur {
        background: #141414;
        border-radius: 20px;
    }

    .font-large {
        font-size: 26px;
    }
    .blur-iphone {
        position: relative;
        bottom: 60px;
    }
    .section-break{
        margin-top: 100px !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .bg-blur {
        background: #141414;
        border-radius: 20px;
    }

    .font-large {
        font-size: 26px;
    }
    .blur-iphone {
        position: relative;
        bottom: 60px;
    }
    .section-break{
        margin-top: 100px !important;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {}